:root {
    --primary: #CC092F; /*adicionando vermelho no meu css*/
    --secondary: #172B4D; /* Azul Profissional */
    --accent: #FFD700; /* Dourado */
    --dark: #111111;
    --light: #FFFFFF;
    --gray: #F5F5F5;
    --dark-gray: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;  /* Define a fonte do texto */
  background-color: var(--light);      /* Cor de fundo (clara) */
  color: var(--dark);                  /* Cor do texto (escura) */
  display: flex;                       /* Ativa o layout Flexbox esse foi capaz de alterar toda minha pagina html*/
  line-height: 1.6;                    /* Espaçamento entre linhas */
}

.sidebar {
    width: 100px;
    height: 100vh;
    background-color: var(--dark);
    color: var(--light);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 2rem 0;
}

.logo span {
  color: var(--accent);
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
  margin: 2rem 0;
}

.sidebar nav ul li a {
  color: var(--light);
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
